@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.app-container {
  min-height: 100vh;
  height: 100vh;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  width: 100vw;
}

.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 16px;
}

.transcript-section {
  height: 100%;
  overflow-y: auto;
  padding: 10px 0 20px 10px;
  box-sizing: border-box;
  background: #f4f4f4;
  border-radius: 12px;
  color: #000000;
}

.preview-section {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  html, body, #root {
    overflow: auto;
  }

  .app-container{
    height: auto;
  }
  .content {
    grid-template-columns: 1fr;
    height: auto;
    padding: 0;
    border-radius: 0;
  }
  .preview-section {
    order: -1;
    height: auto;
    overflow: visible;
  }
  .transcript-section {
    height: 40vh;
    border-radius: 8px;
  }
  .transcript-container {
    max-width: unset !important;
  }
}
